/* ▼———————— Reset CSS ————————▼ */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/* table, caption, tbody, tfoot, thead, tr, th, td, */
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    color: #dfe6e9;
    line-height: 1;
    background-image: url(https://raw.githubusercontent.com/Web-Allen/VSCode/master/My%20Record/image/bg-main.png);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
}
/* ▲———————— Reset CSS ————————▲ */

#Container-Grid {
    display: grid;
    width: 100%;
    grid-template-rows: 40px auto;
    grid-template-columns: minmax(162px, 15vw) auto;
    grid-gap: 15px;
    grid-template-areas: "n n"
                         "a m";
}

.bg-color {
    background-color: #343a40;
}
/* ▼———————— 頭部 ————————▼ */ 
.nav-header {
    display: flex;
    font-size: 1rem;
    align-items: center;
    grid-area: n;
} 

.fa-book-open {
    margin: 0 15px;
}

#nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Script" , "Arial" , "Helvetica";
    user-select: none;
    margin-right: 10px;
}

.nav-header a {
    padding: 12px;
    margin-right: 6px;
}

.nav-header > a:hover, .nav-link-1 > a:hover {
    border-radius: 6px;
    box-shadow: inset 0 0 1rem #636e72;
}

.nav-header > a:active, .nav-link-1 > a:active {
    border-radius: 6px;
    box-shadow: inset 0 0 2rem #636e72;
}
/* ▼———————— 頭部連結 ————————▼ */ 
.nav-link-1 {
    display: flex;
}

.nav-link-2 {
    cursor: pointer;
    margin: 0 20px 0 auto;
}

.fa-th {
    opacity: 0.8;
}

.fa-th:hover {
    color: white;
    opacity: 1;
}

.other-sites {
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    top: 6%;
    right: 1%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px 0;
}

.other-sites a{
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
}

.other-sites img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 6px;
}

.other-sites div{
    display: grid; 
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    gap: 20px;
}

.other-sites a:hover {
    background-color: #F6FAFE;
}

.other-sites a:active {
    background-color: #E8F0FD;
}
/* ▲———————— 頭部連結結束 ————————▲ */
/* ▲———————— 頭部結束 ————————▲ */

/* ▼———————— 左欄 ————————▼ */
#Container-Grid > aside {
    display: flex;
    height: min-content;
    flex-direction: column;
    grid-area: a;
    margin-left: 15px;
    border-radius: 6px;
}

#aside-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 15px;
    background-color: #252323;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.aside-ul li:nth-child(odd) {
    background-color: #9a9d9a2c;
}

.aside-ul li:nth-child(n+3) {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.3;
}

.aside-ul li:last-child {
    border-radius: 0 0 6px 6px;
}

.aside-ul li {
    font-size: 1rem;
    cursor: pointer;
    padding: 12px 15px;
}

.fa-bars, .fa-tree, .fa-seedling {
    margin-right: 6px;
}
/* ▲———————— 左欄結束 ————————▲ */

/* ▼———————— 右邊內容 ————————▼ */
#Container-Grid > main {
    display: grid;
    height: min-content;
    grid-area: m;
    border-radius: 6px;
    gap: 15px;
    padding: 15px 20px 20px;
    margin: 0 15px 15px 0;
}

.fa-list {
    margin-right: 6px;
}

.section-title {
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.section-grid {
    display: grid; 
    font-size: 0.8rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.section-grid h3 {
    color: #55efc4;
    font-size: 0.9rem;
    font-weight: bold;
    padding-left: 36px;
    margin-bottom: 10px;
}

.section-grid a {
    background-color: #9a9d9a2c;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 16px 12px;
}

.section-grid img {
    float: left;
    margin-right: 10px;
}

.section-grid a:hover {
    border: 2px solid #5b9ef0;
}

/* ▼———————— The RWD ————————▼ */
@media (max-width: 992px) { 
    .section-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) { 
    .section-grid {
        grid-template-columns: 1fr;
    }
}    
/* ▲———————— The RWD end ————————▲ */
/* ▲———————— 右邊內容結束 ————————▲ */

/* ▼———————— 其他.html共用 ————————▼ */
#others-aside-title {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    background-color: #047c7c;
    padding: 6px 15px;
}

.others-aside-ul li:nth-child(even) {
    background-color: #abd1c7;
}

.others-aside-ul li {
    color: black;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    padding: 12px 15px;
}

.others-aside-ul li:last-child {
    border-radius: 0 0 6px 6px;
}

.others-section-title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.others-section {
    line-height: 2;
}

.others-section:nth-child(n+2) {
    display: none;
}

.others-section h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.others-section ul {
    margin-left: 20px;
    list-style: disc;
}

.others-section pre {
    line-height: 1.5;
    border: 1px solid #74b9ff;
    border-radius: 6px;
    padding: 15px;
}

.code {
    border: 1px solid #74b9ff;
    border-radius: 6px;
    padding: 0 6px;
    margin-bottom: 6px;
}

table {
    width: 100%;
    text-align: left;
    text-indent: 6px;
}

th {
    background-color: #40739e;
}

tr:nth-child(even) {
    background-color: #787a782d;
}

/* .active {
    border-radius: 6px;
    box-shadow: inset 0 0 1rem #636e72;
} */

.Y {
    color: rgb(220, 220, 170);/* Yellow */
}

.B {
    color: rgb(86, 156, 214);/* Blue */
}

.S-b {
    color: rgb(156, 220, 254);/* Sky blue */
}

.O {
    color: rgb(206, 145, 120);/* Orange */
}

.G {
    color: rgb(109, 122, 128);/* Gray */
}
/* ▲———————— 其他.html共用結束 ————————▲ */