.clearfix:after {
    display: block;
    content: "";
    clear: both;
    height: 0px;
}

body {
    font-size: 1rem;
    background-image: url(/img/bg-body.png);
}

a {
    color: #dfe6e9;
}

#main {
    display: flex;
    justify-content: center;
}