body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bg-main.png');
}

#wrapper{
    width: 940px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0 10px;
    margin: 0 auto;
    padding-bottom: 60px;
    overflow: hidden;
}

.header{
    background-color: #0591d3;
    height: 10px;
    margin-bottom: 6px;
}

.footer{
    width: 960px;
    height: 6px;
    background-color: #6c6c6c;
    margin: 0 auto;
    }

.header-img{
    border-bottom: 1px solid #cccccc;
}

ul{
    list-style: none;
}

p{  
    line-height: 1.5em;
    margin-top: 0;
}

h3{
    margin-top: 9em;
    margin-bottom: 3px;
}

a:link{
    color: #242424;
    text-decoration: none;
}

a:visited{
    color: #242424;
}

.clearfix::before{
    content: "";
    display: block;
    clear: both;
}

.content-left{
    width: 230px;
    float: left;
    margin: 16px 0 0 -10px;
}

.content-left img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 8px;
}

.content-left li{
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 0 6px 12px;
    margin-bottom: 12px;
}

.content-left a:hover li{
    color: #000000;
    background-color: #e6fdff;
    border: 1px solid #5b9ef0;
    filter: drop-shadow(6px 0px 16px rgb(38, 189, 226));
}

.content-right{
    width: 650px;
    float: right;
    margin:32px 16px 0 0;
}

.vocab{
    background-color: #f4fdff;
    border-bottom: 2px solid #84cbff;
    padding: 5px 288px 5px 4px;
    margin:24px 0 18px 0px;
}

.typing{
    width: 300px;
    height: 200px;
}

.content-right h4{
    font-size: 16px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

.content-right h4 span{
    background-color: #fff9e0;
    border-bottom: 2px solid #ffdc19;
    padding: 6px 6px 4px 0;
}

.vocab-right{
    float: right;
    margin-right: 36px;
}

.vocab-right h4{
    margin-top: 5px;
}

.menu{
    background-color: #f4fdff;
    border-bottom: 2px solid #84cbff;
    padding: 5px 288px 5px 4px;
    margin-top: 24px;
}

.owl{
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.list-left,.list-right{
    float: left;
    padding-left: 0;
}

.list-left li,.list-right li{
    line-height: 2em;
}

.list-right li{
    text-indent: 102px;
}

.ft1{
    color: #3abc27;
}

.ft2{
    color: #0077ce;
}

.article{
    background-color: #f4fdff;
    border-bottom: 2px solid #84cbff;
    padding: 5px 288px 5px 4px;
    margin-top: 6px;
}